Repository 809bakery/SCON-Frontend, pull requests merged in 2024-08, with the labels that each got.

#53 Design/#50 ticket
  .gitignore
  package.json
  src/app/globals.css
  src/app/stage/detail/[id]/page.tsx
  src/app/ticket/[id]/page.tsx
  src/app/ticket/[id]/success/page.tsx
  src/constants/stage/index.ts
  src/features/ticket/calendar/index.tsx
  src/features/ticket/card/index.tsx
  src/features/ticket/card/stage/index.tsx
  src/features/ticket/purchase/count/index.tsx
  src/features/ticket/purchase/index.tsx
  src/static/svg/ticket/ticket-arrow-down-icon.svg
  src/static/svg/ticket/ticket-arrow-up-icon.svg
  src/static/svg/ticket/ticket-charge-icon.svg
  yarn.lock
Labels: design, feat

#56 Feat/#55 qr
  package.json
  src/app/ticket/my/[id]/page.tsx
  src/app/ticket/my/page.tsx
  src/components/sidebar/index.tsx
  src/constants/ticket/index.ts
  src/static/img/dummy/ticket/dummy-ticket-poster.jpg
  src/static/svg/ticket/ticket-flip-icon.svg
  yarn.lock
Labels: feat

#59 Bug/#54 issues
  src/app/(auth)/login/email/page.tsx
  src/app/(auth)/login/social/[service]/page.tsx
  src/app/(home)/main/page.tsx
  src/app/layout.tsx
  src/app/stage/detail/[id]/page.tsx
  src/app/ticket/[id]/page.tsx
  src/app/ticket/[id]/success/page.tsx
  src/app/ticket/my/[id]/page.tsx
  src/components/Navbar/NavbarWithoutGoback.tsx
  src/components/Navbar/index.tsx
  src/components/sidebar/index.tsx
  src/components/sidebar/profile/index.tsx
  src/constants/user/index.ts
  src/features/event/components/stage/MyStage.tsx
  src/features/stage/detail/components/card/comment/input/index.tsx
  src/features/stage/detail/components/tab/comment/index.tsx
  src/features/ticket/purchase/count/index.tsx
  src/features/ticket/purchase/index.tsx
Labels: design, feat, fix

#62 Feat/#45 push
  .gitignore
  package.json
  public/firebase-messaging-sw.js
  public/sw.js
  src/app/(auth)/login/page.tsx
  src/app/(auth)/login/social/[service]/page.tsx
  src/app/(auth)/signup/[step]/page.tsx
  src/app/(auth)/signup/steps/BasicInfoStep.tsx
  src/app/(auth)/signup/steps/JoinStep.tsx
  src/app/(auth)/signup/steps/MoreInfoStep.tsx
  src/app/(auth)/signup/steps/ProfileStep.tsx
  src/app/(auth)/signup/steps/PushStep.tsx
  src/app/push/page.tsx
  src/firebase/firebasedb.ts
  src/static/svg/progress/progress-step1.svg
  src/static/svg/progress/progress-step2.svg
  src/static/svg/progress/progress-step3.svg
  src/static/svg/progress/progress-step4.svg
  src/static/svg/progress/progress-step5.svg
  src/static/svg/push-alarm-icon.svg
  yarn.lock
Labels: feat

#63 Bug/#61 route
  public/sw.js
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/[step]/page.tsx
  src/app/layout.tsx
  src/app/oven/detail/[name]/_components/CommunityContentCard.tsx
  src/app/stage/detail/[id]/page.tsx
  src/app/ticket/my/[id]/page.tsx
  src/app/ticket/my/page.tsx
  src/features/stage/detail/components/card/comment/input/index.tsx
  src/features/ticket/purchase/count/index.tsx
  src/features/ticket/purchase/index.tsx
Labels: design, feat

#64 Feat/#58 스콘톡오븐톡 디자인 작업
  package.json
  src/app/globals.css
  src/app/scontalk/[id]/page.tsx
  src/components/Navbar/index.tsx
  src/components/sidebar/index.tsx
  src/constants/dummy.ts
  tailwind.config.ts
  yarn.lock
Labels: design

#70 Feat/#60 oven
  src/app/(auth)/signup/oven/page.tsx
  src/app/(auth)/signup/oven/success/page.tsx
  src/app/oven/[name]/delete/page.tsx
  src/app/oven/[name]/members/page.tsx
  src/app/oven/[name]/page.tsx
  src/app/oven/[name]/profile/page.tsx
  src/app/oven/detail/[name]/_components/CommunityContentCard.tsx
  src/app/oven/my/page.tsx
  src/app/oven/register/[step]/page.tsx
  src/components/sidebar/index.tsx
  src/constants/oven/bank/index.ts
  src/constants/oven/invite/index.ts
  src/constants/oven/manage/community/index.ts
  src/constants/oven/manage/index.ts
  src/constants/oven/manage/profile/index.ts
  src/constants/oven/manage/setting/index.ts
  src/constants/stage/info/index.ts
  src/features/oven/components/card/add/index.tsx
  src/features/oven/components/card/bank/index.tsx
  src/features/oven/components/card/index.tsx
  src/features/oven/components/card/people/index.tsx
  src/features/oven/components/checkbox/index.tsx
  src/features/oven/components/manage/community/index.tsx
  src/features/oven/components/manage/profile/card/index.tsx
  src/features/oven/components/manage/profile/index.tsx
  src/features/oven/components/manage/setting/index.tsx
  src/features/oven/components/manage/talk/index.tsx
  src/features/oven/components/register/bank/index.tsx
  src/features/oven/components/register/bank/modal/index.tsx
  src/features/oven/components/register/category/index.tsx
  src/features/oven/components/register/join/index.tsx
  src/features/oven/components/register/people/index.tsx
  src/features/oven/components/register/profile/index.tsx
  src/static/img/bank/bank-hana-icno.png
  src/static/img/bank/bank-kb-icon.png
  src/static/img/bank/bank-nh-icon.png
  src/static/img/bank/bank-shinhan-icon.png
  src/static/img/bank/bank-woori-icon.png
  src/static/img/dummy/oven/dummy-oven-detail-community2.png
  src/static/img/dummy/oven/dummy-oven-profile.jpg
  src/static/img/profile/profile-default.png
  src/static/svg/oven/oven-photo-icon.svg
  src/static/svg/oven/oven-plus-icon.svg
  src/static/svg/oven/oven-register-step1.svg
  src/static/svg/oven/oven-register-step2.svg
  src/static/svg/oven/oven-register-step3.svg
  src/static/svg/oven/oven-register-step4.svg
Labels: feat

#73 Feat/#67 회원가입 로그인 메인페이지 api 연결
  next.config.mjs
  package.json
  public/sw.js
  src/api/config/privateApi.ts
  src/api/config/requestUrl.ts
  src/app/(auth)/login/email/page.tsx
  src/app/(auth)/login/social/[service]/page.tsx
  src/app/(auth)/signup/steps/BasicInfoStep.tsx
  src/app/(auth)/signup/steps/JoinStep.tsx
  src/app/(auth)/signup/steps/ProfileStep.tsx
  src/app/(home)/main/page.tsx
  src/app/(home)/search/_components/Filter.tsx
  src/app/(home)/search/_components/Tab.tsx
  src/app/(home)/search/_components/Tabs.tsx
  src/app/(home)/search/page.tsx
  src/app/layout.tsx
  src/app/oven/detail/[name]/_components/InfoTab.tsx
  src/app/oven/detail/page.tsx
  src/app/scontalk/[id]/page.tsx
  src/app/stage/list/[type]/_components/PickStageList.tsx
  src/components/Searchbar/index.tsx
  src/constants/search/index.ts
  src/features/event/components/stage/AllStage.tsx
  src/features/event/components/stage/MyStage.tsx
  src/features/event/components/stage/RecommendStage.tsx
  src/features/event/components/stage/StageList.tsx
  src/hooks/.gitkeep
  src/hooks/useDebounce.ts
  src/store/.gitkeep
  src/store/SignupStore.ts
  src/utils/cookie/index.ts
  types.d.ts
  yarn.lock
Labels: feat

#79 Feat/#77 oven stage
  package.json
  public/sw.js
  src/app/oven/[name]/members/manage/page.tsx
  src/app/oven/[name]/members/manage/qr/page.tsx
  src/app/oven/[name]/members/page.tsx
  src/app/oven/[name]/stage/new/page.tsx
  src/app/oven/[name]/stage/page.tsx
  src/constants/oven/manage/members/index.ts
  src/features/oven/components/manage/members/index.tsx
  src/features/oven/components/manage/setting/index.tsx
  src/features/oven/components/manage/stage/calendar/index.tsx
  src/features/oven/components/manage/stage/card/index.tsx
  src/static/svg/stage/stage-camera-icon.svg
  yarn.lock
Labels: feat

#85 Feat/#69 검색페이지 마이페이지 api 연결
  src/app/(home)/search/_components/Filter.tsx
  src/app/(home)/search/_components/OvenCard.tsx
  src/app/(home)/search/_components/OvenList.tsx
  src/app/(home)/search/_components/StageCard.tsx
  src/app/(home)/search/_components/StageList.tsx
  src/app/(home)/search/_components/Tabs.tsx
  src/app/(home)/search/page.tsx
  src/app/oven/detail/OvenDetailCard.tsx
  src/app/oven/detail/_components/OvenDetailList.tsx
  src/app/oven/detail/page.tsx
  src/app/stage/list/[type]/_components/AllStageList.tsx
  src/app/stage/list/[type]/_components/MyStageList.tsx
  src/app/stage/list/[type]/_components/PickStageList.tsx
  src/components/Searchbar/index.tsx
  src/components/sidebar/index.tsx
  src/components/sidebar/item/index.tsx
  src/constants/search/index.ts
  src/features/event/components/stage/Card/index.tsx
  src/features/event/components/stage/StageList.tsx
Labels: feat

#91 Feat/#80 oven, stage api #1
  public/sw.js
  src/app/(auth)/signup/oven/page.tsx
  src/app/oven/[name]/page.tsx
  src/app/oven/[name]/profile/page.tsx
  src/app/oven/detail/[name]/_components/CommunityContentCard.tsx
  src/app/oven/my/page.tsx
  src/app/oven/register/[step]/page.tsx
  src/app/stage/detail/[id]/page.tsx
  src/components/sidebar/index.tsx
  src/components/sidebar/profile/index.tsx
  src/features/event/components/stage/Card/index.tsx
  src/features/event/components/stage/StageList.tsx
  src/features/oven/components/card/index.tsx
  src/features/oven/components/manage/community/index.tsx
  src/features/oven/components/manage/profile/card/index.tsx
  src/features/oven/components/manage/profile/index.tsx
  src/features/oven/components/manage/setting/index.tsx
  src/features/oven/components/register/bank/index.tsx
  src/features/oven/components/register/category/index.tsx
  src/features/oven/components/register/join/index.tsx
  src/features/oven/components/register/profile/index.tsx
  src/features/stage/detail/components/card/collapse/index.tsx
  src/features/stage/detail/components/card/comment/index.tsx
  src/features/stage/detail/components/card/comment/input/index.tsx
  src/features/stage/detail/components/tab/comment/index.tsx
  src/features/stage/detail/components/tab/info/index.tsx
  src/features/stage/detail/components/tab/sale/index.tsx
  src/features/stage/detail/components/tag/index.tsx
  src/store/CreateOvenStore.ts
Labels: feat

#92 Feat/#68 오븐 상세 페이지 마이페이지 api 연결
  src/app/(auth)/signup/steps/JoinStep.tsx
  src/app/(auth)/signup/steps/ProfileStep.tsx
  src/app/(users)/mypage/_components/MypageTap.tsx
  src/app/(users)/mypage/info/page.tsx
  src/app/(users)/mypage/leave/page.tsx
  src/app/(users)/mypage/page.tsx
  src/app/(users)/mypage/profile/page.tsx
  src/components/Navbar/index.tsx
  src/components/sidebar/index.tsx
  src/components/sidebar/profile/index.tsx
  src/features/event/components/stage/AllStage.tsx
  src/features/event/components/stage/MyStage.tsx
  src/features/event/components/stage/RecommendStage.tsx
  src/features/event/components/stage/StageList.tsx
  src/store/SignupStore.ts
Labels: feat, fix

#94 Feat/#93 오븐 상세 페이지 api 연결
  public/sw.js
  src/app/(home)/search/_components/StageCard.tsx
  src/app/oven/detail/OvenDetailCard.tsx
  src/app/oven/detail/[name]/_components/CommunityContentCard.tsx
  src/app/oven/detail/[name]/_components/CommunityTab.tsx
  src/app/oven/detail/[name]/_components/FollowButton.tsx
  src/app/oven/detail/[name]/_components/InfoTab.tsx
  src/app/oven/detail/[name]/page.tsx
  src/app/oven/detail/_components/OvenDetailList.tsx
  src/app/stage/detail/[id]/page.tsx
  src/features/stage/detail/components/tab/info/index.tsx
Labels: feat

#96 Feat/#81 oven, stage api #2
  public/sw.js
  src/app/stage/detail/[id]/page.tsx
  src/app/ticket/[id]/page.tsx
  src/app/ticket/[id]/success/page.tsx
  src/app/ticket/my/[id]/page.tsx
  src/app/ticket/my/page.tsx
  src/components/a2hs/index.tsx
  src/features/event/components/stage/Card/index.tsx
  src/features/ticket/calendar/index.tsx
  src/features/ticket/card/stage/index.tsx
  src/features/ticket/purchase/count/index.tsx
  src/features/ticket/purchase/index.tsx
  src/store/PurchaseTicketStore.ts
Labels: feat

#98 Feat/#97 stage api
  public/sw.js
  src/app/oven/[name]/delete/page.tsx
  src/app/oven/[name]/members/manage/page.tsx
  src/app/oven/[name]/members/manage/qr/page.tsx
  src/app/oven/[name]/members/page.tsx
  src/app/oven/[name]/stage/page.tsx
  src/app/ticket/my/[id]/page.tsx
  src/app/ticket/my/page.tsx
  src/features/oven/components/card/people/index.tsx
  src/features/oven/components/manage/community/index.tsx
  src/features/oven/components/manage/profile/index.tsx
  src/features/oven/components/manage/setting/index.tsx
  src/features/oven/components/register/join/index.tsx
  src/features/oven/components/register/people/index.tsx
  src/features/ticket/purchase/index.tsx
Labels: feat

#100 Feat/#81 push api
  public/sw.js
  src/app/(auth)/signup/steps/PushStep.tsx
  src/app/(users)/mypage/push_settings/page.tsx
Labels: feat
